@using WeatherForecastProject.Models

<h2>Welcome</h2>
<br />
<h5>Please click the button below to see the weather forecast for Port Louis, Mauritius.</h5>
<br />

<a asp-controller="WeatherForecast" asp-action="Index" class="btn btn-dark">Weather Forecast</a>